<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ea.autoEx.integ.dal.dao.UserMapper">


	<resultMap type="com.ea.autoEx.integ.dal.model.User" id="User">
		<result property="userId" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="name" column="name" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result property="pwd" column="pwd" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result property="email" column="email" jdbcType="VARCHAR"
			javaType="java.lang.String" />
		<result property="age" column="age" jdbcType="INTEGER"
			javaType="java.lang.Integer" />
		<result property="isValidate" column="validate" jdbcType="TINYINT"
			javaType="java.lang.Boolean" />
	</resultMap>

	<select id="getUserById" parameterType="java.lang.Long" resultType="User">
		SELECT
		*
		FROM i_user as t
		WHERE
		t.id=#{userId}
	</select>
	
	<select id="getAllUser"  resultType="User">
		SELECT
		*
		FROM i_user
	</select>


</mapper>